@import "lib/vars"
@import "lib/type"
@import "lib/presentation"
@import "lib/cancion"


*
  box-sizing: border-box

body
  margin: 0

#level1
  position: fixed
  z-index: 1
  width: 25rem
#level2
  position: fixed
  z-index: 1
  width: 30rem
  left: 4rem
  top: 4rem
.piano
  top: 25rem
  list-style: none
  display: flex
  flex-direction: row
  position: fixed
  width: 100vw
  height: 25rem
  .pianoTecla
    flex-grow: 1
    flex-basis: 10em
    padding: 4em 0

//NOTAS GRAVES
#G
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $red
  &:hover
    cursor: pointer 
    background: $soft-red
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(199,91,59,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(199,91,59,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(199,91,59,0.46)
  #G-text
    font-family: Knicknack
    font-size: 4em
    color: $dark-red

#A
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $blue
  &:hover
    cursor: pointer 
    background: $soft-blue
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(73,131,166,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(73,131,166,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(73,131,166,0.46)
  #A-text
    font-family: Knicknack
    font-size: 4em 
    color: $dark-blue
#B
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $pink
  &:hover
    cursor: pointer 
    background: $soft-pink
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(194,91,127,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(194,91,127,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(194,91,127,0.46)
  #B-text
    font-family: Knicknack
    font-size: 4em 
    color: $dark-pink
#C
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $orange
  &:hover
    cursor: pointer 
    background: $soft-orange
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(181,160,92,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(181,160,92,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(181,160,92,0.46)
  #C-text
    font-family: Knicknack
    font-size: 4em 
    color: $dark-orange
#D
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $pistacho
  &:hover
    cursor: pointer 
    background: $soft-pistacho
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(153,164,91,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(153,164,91,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(153,164,91,0.46)

  #D-text
    font-family: Knicknack
    font-size: 4em
    color: $dark-pistacho
#E
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $green
  &:hover
    cursor: pointer 
    background: $soft-green
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(43,130,80,0.46) 
    -webkit-box-shadow: 8px 10px 24px -3px rgba(43,130,80,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(43,130,80,0.46)
  #E-text
    font-family: Knicknack
    font-size: 4em 
    color: $dark-green
  
#F
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $purple
  &:hover
    cursor: pointer 
    background: $soft-purple
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(140,107,191,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(140,107,191,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(140,107,191,0.46)
  #F-text
    font-family: Knicknack
    font-size: 4em
    color: $dark-purple

//NOTAS AGUDAS
    
#Gb
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $soft-red
  &:hover
    cursor: pointer 
    background: $soft2-red
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(199,91,59,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(199,91,59,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(199,91,59,0.46)
  #Gb-text 
    font-family: Knicknack
    font-size: 4em
    color: $red

#Ab
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $soft-blue
  &:hover
    cursor: pointer 
    background: $soft2-blue
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(73,131,166,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(73,131,166,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(73,131,166,0.46)
  #Ab-text
    font-family: Knicknack
    font-size: 4em 
    color: $blue

#Bb
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $soft-pink
  &:hover
    cursor: pointer 
    background: $soft2-pink
    transition: 0.25s
    box-shadow: 8px 10px 24px -3px rgba(194,91,127,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(194,91,127,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(194,91,127,0.46)
  #Bb-text
    font-family: Knicknack
    font-size: 4em 
    color: $pink

#Cb
  //padding: 4em
  display: flex
  justify-content: center
  //width: 7.5rem
  height: 13.75rem
  background: $soft-orange
  &:hover
    cursor: pointer 
    background: $soft2-orange
    transition: 0.25s
    box-shadow:  8px 10px 24px -3px rgba(181,160,92,0.46)
    -webkit-box-shadow: 8px 10px 24px -3px rgba(181,160,92,0.46)
    -moz-box-shadow: 8px 10px 24px -3px rgba(181,160,92,0.46)
  #Cb-text
    font-family: Knicknack
    font-size: 4em 
    color: $orange


// Rana y mensajes 
//Level up
#ranaverde
  position: fixed
  display: flex
  justify-content: center
  width: 20rem
.caja-señales
 display: flex
 justify-content: center 
  
#levelUpCaja
  position: fixed
  left: 700px
  top: 30px
  display: none
  
#levelUpImg
  width: 400px
  display: none
#Caja
  display: flex
  justify-content: center
  display: none
 
#goodImg
  margin-left: 50rem
  width: 200px

@media screen and (min-width : 768px) and(max-width : 1024px) and (orientation: landscape)
  .button-56
    right: 50px
    width: 200px
    height: 50px
    font-size: 20px
  //CANCIÓN
  .cancion
    top: 350px
    left: 50px
  
  #level1
    width: 560px
  #level2
    width: 400px
  // PIANO 
  .piano
    top: 450px
  //#G, #A, #B, #C, #D, #E, #F, #Gb, #Ab, #Bb, #Cb, #Db, #Eb, #Fb
   // width: 10px
  #levelUpCaja
    margin-top: 30px
    width: 20px
    right: 400px
    z-index: 1


@media screen and (min-width : 480px) and (max-width : 640px) and (orientation: landscape)
  //CANCIÓN
  .cancion
    top: 21.875rem
    left: 3.125rem
  .nota
    width: 3.125rem
    height: 3.125rem
  #ranaverde
    width: 12.5rem
  #level1
    width: 25rem
  // PIANO 
  .piano
    top: 450px
  #caja
    width: 20px
    margin-top: 30px
    margin-right: 200px

#reload
  display: flex
  justify-content: center